@import 'components/helpers';
@import 'components/style-constants';
@import './style-constants';

.note {
    @include clearfix;

    padding-top: 7px;

    &:first-child {
        padding-top: 0;
    }

    &__view-container {
        padding-right: $note-button-width + $note-button-padding;
        position: relative;
    }

    &__view-icon {
        height: $note-icon-size;
        width: $note-icon-size;
    }

    &__view {
        border: 0;
        box-sizing: border-box;
        color: $app-text-color;
        display: block;
        font-family: $app-text-font-family;
        font-size: 16px;
        line-height: 24px;
        min-height: $note-view-height;
        padding: 3px 8px;
        position: relative;

        &:focus {
            box-shadow: $app-box-shadow;
        }

        &_editable {
            height: 30px;
            resize: vertical;
            width: 100%;
        }
    }

    &__button {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    &_dragging {
        opacity: 0.5;
    }
}

.button {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: $app-text-color;
    cursor: pointer;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: $note-button-width;

    &:disabled {
        cursor: default;
    }

    &:enabled:focus,
    &:enabled:hover {
        box-shadow: $app-box-shadow;
    }
}

.strengths {
    background: $strengths-background-color-light;
}

.threats {
    background: $threats-background-color-light;
}

.opportunities {
    background: $opportunities-background-color-light;
}

.weaknesses {
    background: $weaknesses-background-color-light;
}
