@import 'components/style-constants';

.strengths {
    background: $strengths-background-color-light;

    &:disabled {
        background: $strengths-background-color-disabled;
    }
}

.threats {
    background: $threats-background-color-light;

    &:disabled {
        background: $threats-background-color-disabled;
    }
}

.opportunities {
    background: $opportunities-background-color-light;

    &:disabled {
        background: $opportunities-background-color-disabled;
    }
}

.weaknesses {
    background: $weaknesses-background-color-light;

    &:disabled {
        background: $weaknesses-background-color-disabled;
    }
}
