@import 'components/style-constants';
@import 'components/helpers';

.menu {
    @include clearfix;

    border: solid $app-border-color;
    border-width: 0 0 1px;
    box-sizing: border-box;
    font-size: 16px;
    height: $header-height;

    &__item {
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        height: $header-height;
        line-height: $header-height;

        &:hover {
            background: $app-text-color;
            color: $app-background-color;
        }

        &_left {
            float: left;
        }

        &_right {
            float: right;
        }
    }

    &__link {
        color: inherit;
        display: inline-block;
        height: 100%;
        text-decoration: none;
        width: 100%;
    }

    &__content {
        padding: 0 20px;
    }
}
