@import 'components/style-constants';
@import 'components/helpers';

.menu {
    @include clearfix;

    border: solid $app-border-color;
    border-width: 0 0 1px;
    box-sizing: border-box;
    font-size: 16px;
    position: relative;
    z-index: 1;

    &__made-by {
        color: $made-by-text-color;
        font-size: 14px;
        padding: 0 20px;
    }

    &__items {
        background: $app-background-color;
        max-height: 500px;
        text-align: center;
        transition: max-height 0.3s linear;
        z-index: 10;

        &_folded {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s linear;
            z-index: 0;
        }
    }

    @media all and (min-width: $media-menu-folded) {
        &__items {
            max-height: none;
            z-index: 0;
        }
    }
}
