$legal-link-color: #8e8ea5;

.link {
    color: inherit;
    cursor: pointer;
    height: 100%;
    text-decoration: none;

    &_legal {
        color: $legal-link-color;
        font-size: 12px;
        padding: 0 2px;
    }
}

