@import 'components/style-constants';

$note-list-header-height: 35px;
$note-list-header-content-height: 30px;

.note-list {
    box-sizing: border-box;
    display: inline-block;
    height: 49.5%;
    padding: 5px 10px;
    position: absolute;
    width: 49.5%;

    &__container {
        height: 100%;
        position: relative;
        width: 100%;
    }

    &__widget {
        box-sizing: border-box;
        height: 100%;
        padding-bottom: $note-list-header-height;
        width: 100%;
    }

    &__footer {
        bottom: 0;
        box-sizing: border-box;
        height: $note-list-header-height;
        padding-top: $note-list-header-height - $note-list-header-content-height;
        position: absolute;
        width: 100%;
    }

    &__type {
        float: left;
        font-family: $app-header-font-family;
        font-size: 20px;
        height: $note-list-header-content-height;
        line-height: $note-list-header-content-height;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
    }

    &__button-block {
        height: $note-list-header-content-height;
    }

    &__button {
        border: 0;
        color: $app-text-color;
        cursor: pointer;
        float: right;
        font-family: $app-header-font-family;
        font-size: 24px;
        height: $note-list-header-content-height;
        line-height: $note-list-header-content-height;
        margin: 0;
        overflow: hidden;
        padding: 0;
        width: 50px;
    }

    &__drop-target {
        height: 100%;
        overflow: auto;
        width: 100%;
    }

    &:nth-child(1) {
        left: 0;
        top: 0;
    }

    &:nth-child(2) {
        right: 0;
        top: 0;
    }

    &:nth-child(3) {
        bottom: 0;
        left: 0;
    }

    &:nth-child(4) {
        bottom: 0;
        right: 0;
    }
}

.strengths {
    background: $strengths-background-color;

    .note-list__button {
        background: $strengths-background-color-light;
    }
}

.threats {
    background: $threats-background-color;

    .note-list__button {
        background: $threats-background-color-light;
    }
}

.opportunities {
    background: $opportunities-background-color;

    .note-list__button {
        background: $opportunities-background-color-light;
    }
}

.weaknesses {
    background: $weaknesses-background-color;

    .note-list__button {
        background: $weaknesses-background-color-light;
    }
}
