@import 'components/style-constants';
@import 'components/helpers';

$note-list-header-height: 35px;
$note-list-header-content-height: 30px;
$note-list-placeholder-width: 400px;

.note-list {
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    display: inline-block;
    height: 49.5%;
    padding: 10px;
    position: absolute;
    width: 49.5%;

    &__container {
        height: 100%;
        position: relative;
        width: 100%;
    }

    &__widget {
        box-sizing: border-box;
        height: 100%;
        padding-bottom: $note-list-header-height;
        width: 100%;
    }

    &__footer {
        bottom: 0;
        box-sizing: border-box;
        height: $note-list-header-height;
        padding-top: $note-list-header-height - $note-list-header-content-height;
        position: absolute;
        width: 100%;
    }

    &__type {
        float: left;
        font-family: $app-header-font-family;
        font-size: 20px;
        height: $note-list-header-content-height;
        line-height: $note-list-header-content-height;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
    }

    &__button-block {
        float: right;
        height: $note-list-header-content-height;
    }

    &__button {
        float: left;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__drop-target {
        box-sizing: border-box;
        height: 100%;
        width: 100%;

        &_draggable {
            border: 1px solid #fff;
        }
    }

    &__drop-target-container {
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
        padding: 5px;
        width: 100%;
    }

    &__placeholder {
        box-sizing: border-box;
        font-size: 14px;
        height: 100%;
        margin: 0 auto;
        max-width: $note-list-placeholder-width;
        padding: 0 15px;

        .placeholder__paragraph {
            margin-top: 5px;
        }
    }

    @media all and (max-width: $media-middle-width) {
        height: $note-list-header-content-height;

        &_active {
            bottom: 0;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: $note-list-header-height;
            width: auto;
        }

        &_minimized {
            line-height: $note-list-header-content-height;
            padding: 0;
            position: relative;
            width: 33.3%;

            .note-list__type {
                font-size: 11px;
                text-align: center;
                width: 100%;
            }

            .note-list__widget {
                padding-bottom: 0;
            }

            .note-list__drop-target {
                cursor: pointer;
                display: block;
                position: absolute;
                z-index: 1;

                &:hover {
                    box-shadow: $app-box-shadow;
                }

                &_draggable {
                    box-shadow: $app-box-shadow;
                }
            }

            .note-list__drop-target-container {
                display: none;
            }

            .note-list__button-block {
                display: none;
            }

            .note-list__footer {
                height: 100%;
                padding: 0;
            }
        }

        &__placeholder {
            font-size: 18px;
            padding: 0 20px;

            .placeholder__paragraph {
                line-height: 22px;
                margin-top: 10px;
            }
        }
    }

    @media all and (min-width: $media-middle-width) {
        &:nth-child(1) {
            left: 0;
            top: 0;
        }

        &:nth-child(2) {
            right: 0;
            top: 0;
        }

        &:nth-child(3) {
            bottom: 0;
            left: 0;
        }

        &:nth-child(4) {
            bottom: 0;
            right: 0;
        }
    }
}

.placeholder {
    display: table;

    &__container {
        display: table-cell;
        vertical-align: middle;
    }

    &__paragraph {
        @include clearfix;

        color: #fff;
        line-height: 18px;

        &:first-child {
            margin-top: 0;
        }

        &_with-illustration {
            line-height: 30px;
        }
    }

    &__button {
        float: left;
        margin-right: 10px;
    }
}

.button {
    border: 0;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
    color: $app-text-color;
    cursor: pointer;
    font-family: $app-header-font-family;
    font-size: 24px;
    height: $note-list-header-content-height;
    line-height: $note-list-header-content-height;
    overflow: hidden;
    padding: 0;
    width: 50px;

    &:disabled {
        cursor: default;
    }

    &:enabled:focus,
    &:enabled:hover {
        box-shadow: $app-box-shadow;
    }

    &__icon {
        height: $note-list-header-content-height;
        line-height: $note-list-header-content-height;
        width: $note-list-header-content-height;
    }
}

.delete-all-dialog {
    display: table;
    height: 100%;
    width: 100%;

    &__container {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }

    &__question {
        font-size: 20px;
    }

    &__button-container {
        margin-top: 10px;
    }

    &__button {
        font-family: $app-text-font-family;
        font-size: 16px;
        margin-left: 10px;
    }
}

.strengths {
    background: $strengths-background-color;

    .button {
        background: $strengths-background-color-light;

        &:disabled {
            background: $strengths-background-color-disabled;
        }
    }
}

.threats {
    background: $threats-background-color;

    .button {
        background: $threats-background-color-light;

        &:disabled {
            background: $threats-background-color-disabled;
        }
    }
}

.opportunities {
    background: $opportunities-background-color;

    .button {
        background: $opportunities-background-color-light;

        &:disabled {
            background: $opportunities-background-color-disabled;
        }
    }
}

.weaknesses {
    background: $weaknesses-background-color;

    .button {
        background: $weaknesses-background-color-light;

        &:disabled {
            background: $weaknesses-background-color-disabled;
        }
    }
}
