@import 'styles/constants';

.footer {
    bottom: 5px;
    height: $note-list-title-height;
    left: 5px;
    position: absolute;
    right: 5px;

    &__button {
        float: left;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__button-block {
        float: right;
        height: $note-list-title-height;
    }

    @media all and (max-width: $media-middle-width) {
        &_minimized {
            height: 100%;
            padding: 0;
            position: static;

            .footer__button-block {
                display: none;
            }
        }
    }
}
