$strengths-background-color: #1d3f77;
$strengths-background-color-light: #345995;
$strengths-background-color-disabled: #596f92;

$threats-background-color: #6a2222;
$threats-background-color-light: #963838;
$threats-background-color-disabled: #8a6161;

$opportunities-background-color: #1d441d;
$opportunities-background-color-light: #2e6c2e;
$opportunities-background-color-disabled: #516d51;

$weaknesses-background-color: #562a69;
$weaknesses-background-color-light: #904fad;
$weaknesses-background-color-disabled: #9679a2;
