@import 'components/style-constants.scss';

body,
html {
    background: $app-background-color;
    height: 100%;
}

.app {
    color: $app-text-color;
    font-family: $app-text-font-family;
    max-width: $app-max-width;
    min-height: 100%;
}
