@import 'components/fonts';
@import 'components/style-constants';

body,
html {
    background: $app-background-color;
    height: 100%;
}

.app {
    box-sizing: border-box;
    color: $app-text-color;
    font-family: $app-text-font-family;
    margin: 0 auto;
    max-width: $app-max-width;
    min-height: 100%;
    position: relative;
}
