@import 'components/style-constants';

$main-padding: 10px;

.main {
    bottom: $main-padding;
    left: 0;
    margin: 0 auto;
    max-width: $main-max-width;
    position: absolute;
    right: 0;
    top: $header-height + $main-padding;
}
