@import 'components/style-constants';

$background-color: #575761;
$placeholder-color: #b0b2c1;

.object-of-study {
    background: $background-color;
    border: 1px solid $app-border-color;
    box-sizing: border-box;
    color: #fff;
    font-family: $app-text-font-family;
    font-size: 0.9em;
    line-height: 1em;
    padding: 5px;
    width: 200px;

    &::placeholder {
        color: $placeholder-color;
    }

    @media all and (min-width: 700px) {
        width: 300px;
    }
}
