@import 'components/style-constants';

$background-color: #575761;
$placeholder-color: #b0b2c1;

.object-of-study {
    background: $background-color;
    border: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: $app-text-font-family;
    font-size: 14px;
    height: $header-height - 2px;
    line-height: $header-height - 2px;
    padding: 0 10px;
    width: 200px;

    &::placeholder {
        color: $placeholder-color;
    }

    @media all and (min-width: $media-medium) {
        width: 400px;
    }
}
