@import 'styles/constants';

.drop-target {
    box-sizing: border-box;
    height: 100%;
    padding: 5px;
    width: 100%;

    @media all and (max-width: $media-medium) {
        &_minimized {
            cursor: pointer;
            display: block;
            position: absolute;
            z-index: 1;
        }
    }
}
