@import 'styles/constants';

.item {
    box-sizing: border-box;
    display: block;
    height: $header-height;
    line-height: $header-height;

    &_interactable {
        &:hover,
        &:focus {
            background: $app-text-color;
            color: $app-background-color;
        }
    }

    &_padded {
        padding: 0 20px;
    }

    &_content {
        box-sizing: border-box;
    }

    @media all and (min-width: $media-small) {
        display: inline-block;

        &_position_left {
            float: left;
        }

        &_position_right {
            float: right;
        }
    }

    @media all and (max-width: $media-small) {
        &:nth-child(3) {
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 1px;
            width: 250px;
        }
    }
}
