@import 'styles/constants';

$menu-icon-background: #fff;

.icon {
    cursor: pointer;
    display: block;
    height: $header-height;
    transition: background 0.3s linear;
    width: 30px;

    @media all and (min-width: $media-small) {
        display: none;
    }

    &:hover {
        background: #434367;
    }
}

.folded {
    position: relative;

    &::before {
        background: $menu-icon-background;
        border-radius: 10px;
        box-shadow: 0 6px $menu-icon-background, 0 12px $menu-icon-background;
        content: '';
        height: 3px;
        left: 5px;
        margin: 0 auto;
        position: absolute;
        top: 7.5px;
        transition: all 0.3s linear;
        width: 20px;
    }
}

.unfolded {
    position: relative;

    &::before,
    &::after {
        background: $menu-icon-background;
        border-radius: 10px;
        content: '';
        height: 3px;
        left: 5px;
        position: absolute;
        top: 15px;
        transition: all 0.3s linear;
        width: 20px;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(135deg);
    }
}
