@import 'components/style-constants';
@import 'components/helpers';
@import '../../style-constants';

.placeholder {
    display: table;
    font-size: 20px;
    height: 100%;
    margin: 0 auto;

    &__container {
        display: table-cell;
        vertical-align: middle;
    }
}

.strengths {
    color: $strengths-background-color-disabled;
}

.threats {
    color: $threats-background-color-disabled;
}

.opportunities {
    color: $opportunities-background-color-disabled;
}

.weaknesses {
    color: $weaknesses-background-color-disabled;
}
