$app-text-color: #fff;
$app-text-font-family: Arial, Helvetica, Roboto, sans-serif;
$app-header-font-family: Arial, Helvetica, Roboto, sans-serif;
$app-border-color: #3d3d55;
$app-background-color: #2b2b37;
$app-light-background-color: #56566f;
$app-box-shadow: 0 0 1px 3px #fff;

$app-max-width: 1200px;
$app-min-width: 320px;
$app-min-height: 300px;
$header-height: 40px;
$made-by-text-color: #6a6a84;
$main-max-width: 1000px;

$strengths-background-color: #6a2222;
$strengths-background-color-light: #824a4a;
$strengths-background-color-disabled: #8a6161;
$threats-background-color: #1d3f77;
$threats-background-color-light: #345995;
$threats-background-color-disabled: #596f92;
$opportunities-background-color: #1d441d;
$opportunities-background-color-light: #2e6c2e;
$opportunities-background-color-disabled: #516d51;
$weaknesses-background-color: #562a69;
$weaknesses-background-color-light: #904fad;
$weaknesses-background-color-disabled: #9679a2;

$media-middle-width: 650px;
$media-menu-folded: 500px;
