$app-text-color: #fff;
$app-text-font-family: 'Open Sans', sans-serif;
$app-header-font-family: 'Rammetto One', cursive;
$app-border-color: #3d3d55;
$app-background-color: #2b2b37;
$app-max-width: 1200px;
