$app-text-color: #fff;
$app-text-font-family: 'Open Sans', sans-serif;
$app-header-font-family: 'Rammetto One', cursive;
$app-border-color: #3d3d55;
$app-background-color: #2b2b37;
$app-max-width: 1200px;
$app-min-width: 320px;
$app-min-height: 300px;
$header-height: 40px;
$made-by-text-color: #6a6a84;
$main-max-width: 1000px;

$strengths-background-color: #6a2222;
$strengths-background-color-light: #8c6767;
$threats-background-color: #1d3f77;
$threats-background-color-light: #345995;
$opportunities-background-color: #1d441d;
$opportunities-background-color-light: #2e6c2e;
$weaknesses-background-color: #562a69;
$weaknesses-background-color-light: #904fad;

$media-middle-width: 650px;
