@import '../../style-constants';

.button {
    font-size: 24px;
    height: $note-list-header-content-height;
    line-height: $note-list-header-content-height;
    overflow: hidden;
    width: 50px;
}
