@import 'styles/constants';

.button {
    background: none;
    border: $interactive-elements-border-width solid transparent;
    font-size: $note-view-height;
    height: $note-view-height;
    line-height: $note-view-height - 2 * $interactive-elements-border-width;
    padding: 0;
    width: $note-button-width;

    &:disabled {
        cursor: default;
    }

    &:enabled:hover {
        border-color: $border-color;
    }

    &__icon {
        height: $note-icon-size;
        width: $note-icon-size;
    }
}
