@import 'styles/constants';

.button {
    background: none;
    font-size: 30px;
    height: 30px;
    line-height: 26px;
    padding: 2px;
    width: $note-button-width;

    &:disabled {
        cursor: default;
    }

    &:enabled:focus,
    &:enabled:hover {
        border: 2px solid #fff;
        padding: 0;
    }

    &__icon {
        height: $note-icon-size;
        width: $note-icon-size;
    }
}
