@import "styles/constants";

$message-height: 150px;
$message-width: 300px;

.message {
    background: $background-color;
    border: $interactive-elements-border-width solid $border-color;
    bottom: 0;
    color: $text-color;
    display: table;
    height: $message-height;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: $message-width;
    z-index: 1;

    &__container {
        display: table-cell;
        height: 100%;
        text-align: center;
        vertical-align: middle;
        width: 100%;
    }

    &__text {
        text-align: center;
    }

    &__button {
        background: $light-background-color;
        border: none;
        color: #fff;
        cursor: pointer;
        font-family: $main-font-family;
        font-size: 16px;
        margin-top: 20px;
        padding: 5px 15px;
    }
}
